*{

	padding:10px;
	margin:auto;
	font-family: arial,sans-serif;
}

body{

	background: #12a13e4a;
}


#logo{
	/*corrigir para a deformação acompanhar a tela*/
	/*logotipo nao acompnha deformaçao assim*/
	float:none;
	margin-left: 600px;/*tem que substituir por outro comando*/
	max-width: 100%;

	
}

nav ul{

	display: inline-block;
	list-style: none;  
	background-color: #e7b80c;
	width:100px;
	height:30px;
	border-radius: 6px;
	text-align: center;

}

nav ul li a{

	text-decoration: none;
	color:black;
	font-weight: bold;

	
}


ul{

    /*background: #e7b80c;
    color:black;*/
    transition-property: background, border-radius;
    transition-duration: 1s, 1s;
    transition-timing-function: ease-in-out;

}

ul:hover{
    border-radius: 10px;
    background: #48c5cb;
    /*color:blue;*/
    cursor:pointer;

}

a{

	text-decoration: none;
	color:black;
}



#slider{

	background-color: #34d340;
	height:270px;
	border-radius: 5px;

}

article{
	border: 1px solid #61e98b;

}


article:hover{

	background:#12a13ebd;
	cursor:pointer;
	color:white;
	
}


img{

	float:left;
	width:60px;
	height:60px;
	border-radius: 20px;
}


p{
	margin-left: 100px;

}


#ancora, #link{
	
	margin-left:10px;
	background: orange;
	color:green;
	text-decoration: none;
	border-radius: 10%;
}


input{

	width:150px;
	border-radius: 6px;
	height:15px;
}

button{

	margin-left: 9px;
	background-color: green;
	color:white;
	border-radius: 6px;
	font-weight: bold;
	border:2px solid white;
	cursor:pointer;
	transition-duration: 0.5s;
}

button:hover{

	transition-duration: 0.5s;
	color:orange;
	border:2px solid orange;
}
